<div class="main-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card">

                <div class="card-header">
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                            <h5 class="title">CONFIGURACIÓN DE BANCOS
                            </h5>
                        </div>
                    </div>
                </div>

                <br>

                <div class="card-body">

                    <div class="row">
                        <button (click)="openModalCrud(null,'add')" class="btn btn-round btn-success m-3">
                            Crear Banco
                        </button>
                    </div>

                    <div class="dataTables_wrapper">

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="datatable_length">
                                    <label>
                                        Se muestran
                                        <select aria-controls="datatable" class="form-control form-control-sm"
                                            name="datatable_length" [(ngModel)]="resultsPerPage">
                                            <option [value]="10">10</option>
                                            <option [value]="15">15</option>
                                            <option [value]="50">50</option>
                                        </select>
                                        resultados
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_filter" id="datatable_filter">
                                    <label>
                                        <input aria-controls="datatable" class="form-control form-control-sm"
                                            placeholder="Buscar" type="search" [(ngModel)]="searchedValue"
                                            (keyup)="search()" />
                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>



                    <ngx-datatable class="bootstrap selection-cell ngx-datatable fixed-header virtualized mt-2"
                        [rows]="rows" [loadingIndicator]="loadingIndicator" columnMode="force" rowHeight="auto"
                        [limit]="resultsPerPage" [footerHeight]="100"
                        [messages]="{emptyMessage: 'No hay bancos disponibles', totalMessage: getTotalText()}">

                        <ngx-datatable-column name="Código" prop="code" [cellClass]="'custom-class'">
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Nombre" prop="bankName" [cellClass]="'custom-class'">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Nombre Cuenta Bancaria" prop="bankAccountName" [cellClass]="'custom-class'">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Letra Identificadora" prop="identifyingLetter"
                            [cellClass]="'custom-class'">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha Creación" prop="createdDate" [cellClass]="'custom-class'">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                                <div class="center-cell">{{ value }}</div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Acciones" [cellClass]="'custom-class'">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                let-row="row">

                                <button type="button" (click)="openModalCrud(row, 'see')"
                                    class="btn btn-round btn-sm btn-info" data-placement="right" data-toggle="tooltip"
                                    title="Dar clic para visualizar los detalles">
                                    <i class="now-ui-icons design_bullet-list-67"></i>
                                </button>

                                <button type="button" (click)="openModalCrud(row, 'update')"
                                    class="btn btn-round btn-sm btn-warning" data-placement="right"
                                    data-toggle="tooltip" title="Dar clic para modificar">
                                    <i class="now-ui-icons ui-1_settings-gear-63"></i>
                                </button>
                            </ng-template>
                        </ngx-datatable-column>



                    </ngx-datatable>

                </div>

            </div>

        </div>
    </div>
</div>