.button-row {
    display: flex;
    justify-content: center;
}

.button-row button {
    /* Estilos comunes para todos los botones */
    margin: 0 5px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    /* Bordes redondeados */
}

.btn-green {
    margin: 0 700px;
    padding: 10px 20px;
    justify-content: right;
    background-color: #00a8b4;
    /* Botón verde */
}

.btn-blue {
    justify-content: right;
    background-color: #0dad5d;
    /* Botón azul */
}

.font-size-large {
    font-size: 15px;
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 25px;
    background-image: linear-gradient(to right, #47ffe6, #167c38);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-color: linear-gradient(to right, #47ffe6, #167c38);
}

.center-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Asegura que la celda ocupe toda la altura */
}

::ng-deep .modal-lg {
    max-width: 50%;
    /* Ajusta el valor según tus necesidades */
}


.button {
    margin-left: 800px
}

.center-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-button {
    margin-bottom: 10px;
}
