<div>
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold" id="modal-basic-title">
            {{ getTitle() }}
        </h4>
        <button type="button" class="btn-close" (click)="closeModal()">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
    </div>
    <div class="modal-divider-container">
        <hr class="modal-divider"> <!-- Línea divisoria -->
    </div>
    <br>
    <div class="modal-body">
        <form [formGroup]="singleCustomerForm">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="form-group row align-items-center">
                        <label class="col-sm-6"><b>Número de Carnet Diplomático:</b></label>
                        <div class="col-sm-6">
                            <input #inputRef2
                                formControlName="diplomaticCardNumber" [class.is-invalid]="
                                singleCustomerForm.get('diplomaticCardNumber').touched &&
                                singleCustomerForm.get('diplomaticCardNumber').invalid" autocomplete="off"
                                class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-round mr-2 btn-outline-primary bg-darkBlue" (click)="updateSingleClient()">
                    Cargar
                </button>                
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-round bg-danger" (click)="closeModal()">
            Cerrar
        </button>
    </div>
</div>