<div>
    <div class="modal-header">
        <h4 class="modal-title " id="modal-basic-title" style="font-weight: bold;">
            {{getTitle()}}
        </h4>
        <button type="button" class="btn-close" (click)="closeModal()">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
    </div>
    <div class="modal-divider-container">
        <hr class="modal-divider">
    </div>
    <div class="modal-body">
        <div class="dataTables_wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="datatable_length">
                        <label>
                            Se muestran
                            <select aria-controls="datatable" class="form-control form-control-sm"
                                name="datatable_length" [(ngModel)]="resultsPerPage">
                                <option [value]="10">10</option>
                                <option [value]="15">15</option>
                                <option [value]="50">50</option>
                            </select>
                            resultados
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter" id="datatable_filter">
                        <label>
                            <input aria-controls="datatable" class="form-control form-control-sm" placeholder="Buscar"
                                type="search" [(ngModel)]="searchedValue" (keyup)="searchHistorical()"
                                (search)="reloadRows()" />
                        </label>
                    </div>
                </div>
            </div>


            <ngx-datatable class="bootstrap selection-cell ngx-datatable fixed-header virtualized mt-2"
                [rows]="rowsHistoricalDetail" [loadingIndicator]="loadingIndicator" columnMode="force" rowHeight="auto"
                [limit]="resultsPerPage" [footerHeight]="100"
                [messages]="{emptyMessage: 'No hay registros disponibles', totalMessage: getTotalText()}">
<!--                 <ngx-datatable-column name="Fecha" prop="createdDate">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <div class="custom-cell">{{ value }}</div>
                    </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Fecha">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <div class="custom-cell">{{ row.status === 1 ? row.fechaBloqueo : row.fechaDesbloqueo }}</div>
                    </ng-template>
                </ngx-datatable-column>
                
                
                
                <ngx-datatable-column name="Imei" prop="esnImei">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <div class="custom-cell">{{ value }}</div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Teléfono" prop="telefono">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <div class="custom-cell">{{ value }}</div>
                    </ng-template>
                </ngx-datatable-column>
<!--                 <ngx-datatable-column name="Cuenta Facturación" prop="anexo">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <div class="custom-cell">{{ value }}</div>
                    </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="Estado" prop="status">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <div class="custom-cell font-weight-bold" [ngStyle]="{ color: value === 0 ? 'green' : 'red' }">
                            {{ value === 0 ? 'Desbloqueado' : 'Bloqueado' }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Acciones" prop="Id">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <button type="button"
                            class="btn btn-round btn-outline-danger bg-darkBlue smaller-button mr-2 mt-2 mt-md-2 mt-lg-1"
                            data-toggle="tooltip" data-placement="top" title="Ver Detalles"
                            [disabled]="!utilService.loadGrants('GB')" (click)="see(row)">
                            <i class="fa fa-info-circle icon"></i>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-round bg-danger" (click)="closeModal()">
            Cerrar
        </button>
    </div>
</div>