version: '3'

services:
  equipment-accessories-billing-api:
    image: decommissioning-equipment-accessories-billing-api
    container_name: equipment-accessories-billing-api
    ports:
      - 4437:4437
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
  consult-invoice-equipment-accessories:
    image: decommissioning-consult-invoice-equipment-accessories
    container_name: consult-invoice-equipment-accessories
    ports:
      - 4438:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api    
  authorize-issue-invoices:
    image: decommissioning-authorize-issue-invoices
    container_name: authorize-issue-invoices
    ports:
      - 4439:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  invoice-cancellation:
    image: decommissioning-invoice-cancellation
    container_name: invoice-cancellation
    ports:
      - 4440:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  user-permissions-configuration:
    image: decommissioning-user-permissions-configuration
    container_name: user-permissions-configuration
    ports:
      - 4441:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  billing-report:
    image: decommissioning-billing-report
    container_name: billing-report
    ports:
      - 4442:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  generation-reports-inv:
    image: decommissioning-generation-reports-inv
    container_name: generation-reports-inv
    ports:
      - 4443:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  invoice-validation:
    image: decommissioning-invoice-validation
    container_name: invoice-validation
    ports:
      - 4444:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  billing-records:
    image: decommissioning-billing-records
    container_name: billing-records
    ports:
      - 4449:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  branche-offices-configuration:
    image: decommissioning-branche-offices-configuration
    container_name: branche-offices-configuration
    ports:
      - 4450:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  invoice-graphics:
    image: decommissioning-invoice-graphics
    container_name: invoice-graphics
    ports:
      - 4451:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  warehouse-maintenance:
    image: decommissioning-warehouse-maintenance
    container_name: warehouse-maintenance
    ports:
      - 4452:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  logs-invoice-equipment-accessories:
    image: decommissioning-logs-invoice-equipment-accessories
    container_name: logs-invoice-equipment-accessories
    ports:
      - 4453:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api  
  billing-services:
    image: decommissioning-billing-services
    container_name: billing-services
    ports:
      - 4454:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  price-master:
    image: decommissioning-price-master
    container_name: price-master
    ports:
      - 4471:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api        
  channels:
    image: decommissioning-channels
    container_name: channels
    ports:
      - 4472:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  invoice-creation:
    image: decommissioning-invoice-creation
    container_name: invoice-creation
    ports:
      - 4473:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api
  models-as-ebs:
    image: decommissioning-models-as-ebs
    container_name: models-as-ebs
    ports:
      - 4483:8080
    depends_on:
      - equipment-accessories-billing-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - equipment-accessories-billing-api

networks:
  network-decommissioning:
    external: true
volumes:
  decommissioning-data:    
