<div class="main-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                            <h5 _ngcontent-c9="" class="title">PROCESO DE AUTORIZAR Y EMITIR FACTURAS
                            </h5>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="card-body">
                    <div class="dataTables_wrapper">
                        <div class="row" style="padding-left: 10px;">
                            <div class="col-3">
                                <form [formGroup]="searchInvoiceForm">
                                    <div class="row mb-2" style="padding-left: 40px;">
                                        <label class="form-label font-size-large text-dark mr-3"><b>No. Factura:</b>
                                        </label>
                                        <!-- [classList]="inputClasses" -->
                                        <div>
                                            <input class="form-control" type="number" formControlName="invoiceNo"
                                                placeholder="Ingresa el No. Factura">
                                        </div>
                                    </div>
                                    <div class="row" style="padding-left: 60px;">
                                        <button (click)="findById(searchInvoiceForm.value.invoiceNo)"
                                            [disabled]="searchInvoiceForm.invalid"
                                            class="btn btn-round btn-success mr-2">
                                            Buscar
                                        </button>
                                        <button (click)="reloadRows()" class="btn btn-round btn-info">
                                            Refrescar
                                        </button>
                                    </div>

                                </form>

                            </div>
                        </div>

                        <br>
                        <!-- Select por filtrar -->
                        <div class="row mb-3" style="padding-left: 18px;">
                            <label class="form-label font-size-large mr-1 label-optional">Mostrando las facturas:
                            </label>

                            <div [classList]="inputClassesTwo" style="width: 30px;">
                                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                                    (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect()"
                                    [settings]="dropdownSettings">
                                </angular2-multiselect>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="datatable_length">
                                    <label>
                                        Se muestran
                                        <select aria-controls="datatable" class="form-control form-control-sm"
                                            name="datatable_length" [(ngModel)]="resultsPerPage">
                                            <option [value]="10">10</option>
                                            <option [value]="15">15</option>
                                            <option [value]="50">50</option>
                                        </select>
                                        resultados
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_filter" id="datatable_filter">
                                    <label>
                                        <input aria-controls="datatable" class="form-control form-control-sm"
                                            placeholder="Buscar" type="search" [(ngModel)]="searchedValue"
                                            (keyup)="searchApprovalControl()" />
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <ngx-datatable class="bootstrap selection-cell ngx-datatable fixed-header virtualized mt-2"
                        [rows]="rows" [loadingIndicator]="loadingIndicator" columnMode="force" rowHeight="auto"
                        [externalPaging]="true" [count]="totalElements" [offset]="currentPage" [limit]="pageSize"
                        (page)="onPageChange($event)" [footerHeight]="50" [messages]="{
                        emptyMessage: 'No hay facturas disponibles', 
                        totalMessage: 'total',
                        selectedMessage: 'seleccionado'
                    }">
                        <ngx-datatable-column name="No. Prefactura" prop="id" cellClass="custom-class">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Tipo Factura" prop="invoiceType" cellClass="custom-class">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Estado" cellClass="custom-class">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                let-row="row">
                                {{ row.status }}

                            </ng-template>

                        </ngx-datatable-column>
                        <ngx-datatable-column name=" Cliente" prop="customer" cellClass="custom-class">
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Bodega" prop="warehouse" cellClass="custom-class">
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Vendedor" prop="seller" cellClass="custom-class">
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Autorizador" prop="authorizingUser"
                            cellClass="custom-class"></ngx-datatable-column>

                        <ngx-datatable-column name="Fecha Autorizada" prop="authorizationDate" cellClass="custom-class"
                            cellClass="custom-class">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                let-row="row">
                                {{ row.authorizationDate | date: 'dd/MM/yyyy hh:mm:ss' }}
                            </ng-template>
                        </ngx-datatable-column>


                        <ngx-datatable-column name="Fecha Creación" prop="created" cellClass="custom-class"
                            cellClass="custom-class">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                let-row="row">
                                {{ row.created | date: 'dd/MM/yyyy hh:mm:ss' }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Acciones" cellClass="custom-class">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                let-row="row">
                                <div class="row">
                                    <button *ngIf="row.buttonEmit" type="button"
                                        class="btn btn-round btn-sm btn-success text-white" data-toggle="tooltip" [disabled]="row.isEmitDisabled" 
                                        data-placement="top" title="Emitir" (click)="openApprovalModal('emit', row)">
                                        <i class="now-ui-icons files_paper"></i>
                                    </button>

                                    <button *ngIf="row.buttonAuth" type="button"
                                        class="btn btn-round btn-sm btn-warning text-white" data-toggle="tooltip"
                                        data-placement="top" title="Autorizar" (click)="openApprovalModal('add', row)">
                                        <i class="now-ui-icons design-2_ruler-pencil"></i>
                                    </button>

                                    <!-- 
                                    <button type="button" class="btn btn-round btn-sm btn-info text-white"
                                        data-toggle="tooltip" data-placement="top" title="Emitir"
                                        (click)="openApprovalModal('see', row)">
                                        <i class="fa fa-info-circle icon"></i>
                                    </button>
 -->

                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>