.button-row {
    display: flex;
    justify-content: center;
}

.button-row button {
    margin: 0 5px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.btn-green {
    margin: 0 700px;
    padding: 10px 20px;
    justify-content: right;
    background-color: #00a8b4;

}

.btn-blue {
    justify-content: right;
    background-color: #0dad5d;

}

.font-size-large {
    font-size: 15px;
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 25px;
    background-image: linear-gradient(to right, #00e1ff, #402ee5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-decoration-color: linear-gradient(to right, #00e1ff, #402ee5);
}

.blue-text {
    color: rgb(3, 47, 97);
    font-weight: bold;
}

.yellow-text {
    color: rgb(177, 177, 20);
    font-weight: bold;
}

.green-text {
    color: rgb(0, 129, 0);
    font-weight: bold;
}

.red-text {
    color: rgb(110, 1, 1);
    font-weight: bold;
}

.custom-button-row {
    justify-content: space-between;
}

.custom-button-row .col-md-6 {
    display: flex;
    justify-content: flex-end;
}

.centered-columns {
    text-align: center;
}