.btn-close {
    border: none !important;
    background: transparent;
    padding: 0px;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.fa {
    color: #ff3636 !important;
}



.icon {
    color: #ffffff !important;
}

.modal-footer {
    justify-content: end;
}

.modal-footer button {
    justify-content: end;
    margin-left: 10px;
}

.detail-item-optional {
    border-bottom: none;
}

@import "~bootstrap/dist/css/bootstrap.min.css";


.modal-body {
    padding: 20px;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered th {
    background-color: #f8f9fa;
}

.form-check-input[type="checkbox"] {
    margin-right: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.card {
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 2%;
}

.card-content {
    padding: 20px;
    margin: 0;
}

.detail-list {
    margin-bottom: 20px;
    padding: 0;
    max-width: 700px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
}

.detail-item:last-child {
    border-bottom: none;
}

.detail-label {
    font-weight: bold;
    color: #333;
    margin: 0;
}

.detail-value {
    color: #666;
    margin: 0;
}

.amounts {
    margin-top: 20px;
    padding: 0;
}

.amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
}

.amount:last-child {
    border-bottom: none;
}

.amount-label {
    font-weight: bold;
    color: #333;
    margin: 0;
    padding-left: 60%;
}


.amount-value {
    color: #666;
    margin: 0;
}

.modal-divider-container {
    margin: 0 1rem;
}

.modal-divider {
    border: none;
    border-top: 1px solid #022649;
    margin: 0;
}