/* You can add global styles to this file, and also import other style files */
:root {
    --darkBlue: #002e6e;
    --lemon: #18ce0f;
    --red: #ff3636;
}

textarea {
    border-radius: 15px !important;
    border: 1px solid #e3e3e3 !important;
    padding: 7px 8px !important;
}

.is-invalid {
    border: 1px solid var(--red) !important;
}

.datatable-body-cell {
    text-align: center;
}

.bg-darkBlue {
    background-color: var(--darkBlue) !important;
}

.bg-lemon {
    background-color: var(--lemon) !important;
}

.bg-red {
    background-color: var(--red) !important;
}

.smaller-button {
    margin: 0px !important;
    padding: 8px 15px
}

.upload-label {
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

li.pages.active>a {
    background-color: var(--darkBlue) !important;
}

.swal2-modal .swal2-styled {
    border-radius: 20px !important;
}

.swal2-confirm {
    background-color: var(--lemon) !important;
}

.list-filter .c-search,
.list-filter .c-clear {
    top: 4px !important;
}

.c-btn span {
    font-size: 12px !important;
}

.c-btn.disabled {
    color: #888 !important;
    background-color: #e3e3e3 !important;
}

.custom-class {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

.color-picker-input {
    cursor: pointer;
    border-radius: 0.25rem !important;
    border: 2px solid #424242 !important;
    width: 100% !important;
}

.color-picker-static {
    display: block;
    border-radius: 30px;
    border: 1px solid #e3e3e3;
    color: rgba(51, 51, 34, 0);
    /* border: 1px solid #000000 !important; */
    max-width: 80px;
    width: 100%;
    height: 20px;
}

.custom-file-label::after {
    content: "Archivo" !important;
    cursor: pointer;
  }
  
  .custom-file-input{
    cursor: pointer;
  }
  
  .fileCursor{
    cursor: pointer !important;
  }