.title {
  font-size: 25px;
  background-image: linear-gradient(to right, #00e1ff, #402ee5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-decoration-color: linear-gradient(to right, #00e1ff, #402ee5);
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.custom-class {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}