.btn-close {
    border: none !important;
    background: transparent;
    padding: 0px;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.fa {
    color: #ff3636 !important;
}

.icon {
    color: #ffffff !important;
}

.modal-footer {
    justify-content: end;
}

.modal-footer button {
    justify-content: end;
    margin-left: 10px;
}


@import "~bootstrap/dist/css/bootstrap.min.css";


.modal-body {
    padding: 20px;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered th {
    background-color: #f8f9fa;
}

.form-check-input[type="checkbox"] {
    margin-right: 8px;
}

.test-font {
    font-family: Calibri,  sans-serif;
    font-size: 13px;
    font-weight: 100 !important;
}

.without-padding-right {
    padding-right: 0 !important;
}

.test-font-dos {
  font-family: 'Handjet';
  font-size: 30px;
}

.test-font-tres {
  font-family: 'Anek Odia';
  font-size: 25px;
}



.card {
    width: 100%;
    max-width: 600px;
    background-color: #fcf5da;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 2%;
}




.card-content {
    padding: 20px;
    margin: 0;
    background-color: #fcf5da;
}



.modal-divider-container {
    margin: 0 1rem;
}

.modal-divider {
    border: none;
    border-top: 1px solid #022649;
    margin: 0;
}

@font-face {
    font-family: 'Handjet';
    src: url('../../../assets/fonts/invoice/static/Handjet-Regular.ttf') format('truetype');
    
}