.btn-close {
    border: none !important;
    background: transparent;
    padding: 0px;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.fa {
    color: #ff3636 !important;
}

.icon {
    color: #ffffff !important;
}

.modal-footer {
    justify-content: end;
}

.modal-footer button {
    justify-content: end;
    margin-left: 10px;
}

.modal-divider-container {
    margin: 0 1rem;
}

.modal-divider {
    border: none;
    border-top: 1px solid #022649;
    margin: 0;
}