<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <!-- Encabezado de card, ira el título -->
                    <div class="card-header">
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                                <h5 _ngcontent-c9="" class="title">CONFIGURACIÓN DE SUCURSALES</h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <button (click)="openModal('add',null)" class="btn btn-success btn-round mr-1">
                                    Crear Sucursal
                                </button>
                            </div>
                        </div>

                        <div class="dataTables_wrapper">

                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="datatable_length">
                                        <label>
                                            Se muestran
                                            <select aria-controls="datatable" class="form-control form-control-sm"
                                                name="datatable_length" [(ngModel)]="resultsPerPage">
                                                <option [value]="10">10</option>
                                                <option [value]="15">15</option>
                                                <option [value]="50">50</option>
                                            </select>
                                            resultados
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_filter" id="datatable_filter">
                                        <label>
                                            <input aria-controls="datatable" class="form-control form-control-sm"
                                                placeholder="Buscar" type="search" [(ngModel)]="searchedValue"
                                                (keyup)="search()" />
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Tabla de contenido -->
                        <ngx-datatable class="bootstrap selection-cell ngx-datatable fixed-header virtualized mt-2"
                            [rows]="rows" [loadingIndicator]="loadingIndicator" columnMode="force" rowHeight="auto"
                            [externalPaging]="true" [count]="totalElements" [offset]="currentPage" [limit]="pageSize"
                            (page)="onPageChange($event)" [footerHeight]="50" [messages]="{
                        emptyMessage: 'No hay registros disponibles', 
                        totalMessage: 'total',
                        selectedMessage: 'seleccionado'
                    }">
                            <ngx-datatable-column name="ID" prop="id" [cellClass]="'custom-class'">
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Nombre" prop="name" [cellClass]="'custom-class'">
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Cuenta Facturación" prop="acctCode"
                                [cellClass]="'custom-class'">
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Número Ficticio" prop="fictitiousNumber"
                                [cellClass]="'custom-class'">
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Bodega" prop="wineryName" [cellClass]="'custom-class'">
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Territorio" prop="territory" [cellClass]="'custom-class'">
                            </ngx-datatable-column>


                            <ngx-datatable-column name="Acciones" [width]="200">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                    let-row="row">
                                    <button (click)="openModal('see',row)" type="button"
                                        class="btn btn-round btn-sm btn-info" data-placement="right"
                                        data-toggle="tooltip" title="Dar clic para visualizar los detalles">
                                        <i class="now-ui-icons design_bullet-list-67"></i>
                                    </button>
                                    <button (click)="openModal('edit',row)" type="button"
                                        class="btn btn-round btn-sm btn-warning" data-placement="right"
                                        data-toggle="tooltip" title="Dar clic para editar">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </button>

                                    <button (click)="openModalAssing(row)" type="button"
                                        class="btn btn-round btn-sm btn-success" data-placement="right"
                                        data-toggle="tooltip" title="Dar clic para asignar">
                                        <i class="now-ui-icons location_pin"></i>
                                    </button>



                                    <!-- TODO: Add validations and permissions to buttons -->
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>