version: '3'

services:
  simcard-inquiry-api:
    image: decommissioning-simcard-inquiry-api
    container_name: simcard-inquiry-api
    ports:
      - 4434:4434
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
  control-file-simcard:
    image: decommissioning-control-file-simcard
    container_name: control-file-simcard
    ports:
      - 4435:8080
    depends_on:
      - simcard-inquiry-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - simcard-inquiry-api
  configuration-suppliers:
    image: decommissioning-configuration-suppliers
    container_name: configuration-suppliers
    ports:
      - 4464:8080
    depends_on:
      - simcard-inquiry-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - simcard-inquiry-api
  configuration-clients:
    image: decommissioning-configuration-clients
    container_name: configuration-clients
    ports:
      - 4465:8080
    depends_on:
      - simcard-inquiry-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - simcard-inquiry-api
  maintenance-parameters:
    image: decommissioning-maintenance-parameters
    container_name: maintenance-parameters
    ports:
      - 4466:8080
    depends_on:
      - simcard-inquiry-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - simcard-inquiry-api
  consultation-simcard:
    image: decommissioning-consultation-simcard
    container_name: consultation-simcard
    ports:
      - 4467:8080
    depends_on:
      - simcard-inquiry-api
    networks:
      - network-decommissioning
    volumes:
      - ./nginx-custom.conf:/etc/nginx/conf.d/default.conf
    links:
      - simcard-inquiry-api                    

networks:
  network-decommissioning:
    external: true
volumes:
  decommissioning-data:    
