.btn-close {
    border: none !important;
    background: transparent;
    padding: 0px;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.fa {
    color: #ff3636 !important;
}

.icon {
    color: #ffffff !important;
}

.modal-footer {
    justify-content: end;
}

.modal-footer button {
    justify-content: end;
    margin-left: 10px;
}

.card {
    width: 100%;
    max-width: 850px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 1%;
}

.card-content {
    padding: 20px;
    margin: 0;
}


.modal-divider {
    border: none;
    border-top: 1px solid #022649;
    margin: 0;
}